.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  justify-content: center;
  background: #443297;
}

.contener {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_top > a img {
  margin-right: 76px;
  width: 115px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  background: #fff;
}

.navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .catigory_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.catigory_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
}
.search_box input {
  width: 387px;
  height: 22px;
  margin-left: 12px;

  border: none;
  outline: none;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon_box {
  margin-right: 20px;
  position: relative;
  width: 40px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}
.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.box_info_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.box_info_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.box_icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: #f5c34b;

  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
}

.navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}

.navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 600px;
  display: flex;
  flex-direction: row;
}

.navbar_route_menu .roter_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  text-decoration: none;

  display: flex;
}

.roter_menyu a {
  margin-right: 20px;
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.roter_menyu a.active {
  color: #f5c34b;
}

.navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
  top: 20px;
}

.sorting_menu {
  padding-bottom: 0px;
}

.sorting_menu span {
  margin-right: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

/* Nabar box */

.home_page {
  display: flex;
  flex-direction: column;
}

.contener .shop_box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_box span {
  margin-left: 20px;
  width: 690px;
  height: 40px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.shop_box a {
  width: 131px;
  height: 22px;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.contener .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

/* header frame */

.home_page .header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.home_page .header_frame .contener {
  flex-direction: row;
}

.home_page .contener .header_left {
  position: relative;
  width: 875px;
  height: 508px;

  background: #0053f6;
  background-image: url("/public/images/icons/header_bg.svg");
}

.home_page .header_left .header_content {
  margin-left: 20px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.home_page .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.home_page .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #041e42;

  color: #ffffff;
}

.home_page .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.home_page .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;

  text-decoration: none;
}

.home_page .header_content img {
  position: absolute;
  right: 10px;
}

.home_page .contener .header_right {
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_page .header_right .header_box {
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}

.home_page .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_page .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}

.home_page .box_left p {
  margin: 10px 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}

.home_page .box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.home_page .header_box .box_right {
  width: 50%;
}

.home_page .box_right img {
  width: 100%;
  height: 100%;
}

.home_page .hover_box {
  margin-top: 3px;
  width: 100px;
  height: 2px;

  background: #041e42;
}

/* pagination */
.contener .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contener .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.contener .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.contener .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contener .pagination_dot .dot div {
  width: 4px;
  height: 4px;

  background: #112137;
}

.contener .pagination_dot .dot.active {
  border: 2px solid #112137;
}

/* Navbar seans */

.main_box {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_box .my_box {
  margin-top: 30px;
  width: 1320px;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d6d6d6;
}

.my_box .banner_1 {
  padding-right: 115px;
  position: relative;
  width: 263px;
  height: 77px;

  display: flex;
  flex-direction: row;
}

.banner_1 .box_my {
  margin-top: 0px;
  margin-left: 0px;
  width: 33px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_my img {
  width: 100%;
  height: 100%;
}

.pisturi_box1 {
  margin-bottom: 8px;
  margin-left: 20px;
  width: 216px;
  height: 77px;

  display: flex;
  flex-direction: column;
}

.pisturi_box1 span {
  width: 156px;
  height: 25px;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.pisturi_box1 p {
  width: 215.91px;
  height: 44px;

  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* Page contener */

.peg_contener {
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.peg_contener .contener {
  flex-direction: column;
}

.contener .shop_box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_box span {
  margin-left: 20px;
  width: 690px;
  height: 40px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.shop_box a {
  width: 131px;
  height: 22px;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.shop_box a:hover {
  border-bottom: 2px solid #041e42;
}

.contener .category_wrapper {
  margin-top: 30px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category_box .categoryimg_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.category_box span {
  margin-top: 15px;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* Best List */

.selling_produsk_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_produsk_frame .contener {
  flex-direction: column;
}

.contener .produsk_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.produsk_wrapper .swiper-button-next {
  width: 25px;
}

.swiper-button-next img {
  position: absolute;
  top: 50%;
}

.produsk_wrapper .produsk_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.produsk_boxes .produsk_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.produsk_box .produsk_imegi_box {
  width: 100%;
  height: 280px;
}

.produsk_imegi_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.produsk_imegi_box:hover .hover_box {
  display: flex;
  background: none;
}

.produsk_box .produsk_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.produsk_content_box .produst_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.produsk_content_box .produst_desc {
  height: 56px;
  margin-top: 7px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;

  color: #041e42;
}

.produsk_content_box .riview_box {
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.riview_box img {
  margin-right: 5px;
}

.riview_box span {
  margin-left: 10px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #626974;
}

.produsk_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: #041e42;
}

.price_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;

  color: #626974;
}

.produsk_pagenation_box {
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.produsk_wrapper .swiper-button-prev {
  width: 25px;
}

.swiper-button-prev img {
  position: absolute;
  top: 50%;
}

/* Info Box */
.selling_produsk_frame .info_bar {
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info_bar .info_box {
  width: 1919px;
  height: 120px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(229, 237, 255, 1);
}

.info_box b {
  width: 1113.6px;
  height: 26px;

  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
}

/* Head phones box */

.home_page .space_produck_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space_produck_frame .contener {
  flex-direction: column;
}

.contener .spec_produsk_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_produsk_wrapper .big_produsk_box {
  padding: 30px;
  position: relative;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.big_produsk_box .small_box {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.small_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small_box span {
  top: 7px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.small_box a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.big_produsk_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec_produsk_wrapper .small_produsk_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small_produsk_wrapper .small_produsk_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  background: #f3f5f6;
  border-radius: 6px;
}

.small_produsk_box .small_produsk_content {
  display: flex;
  flex-direction: column;
}

.small_produsk_content strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.small_produsk_content span {
  margin-top: 7px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small_produsk_box img {
  position: absolute;
  right: 10%;
  bottom: 30px;
}

@media (max-width: 760px) {
  .next_prev_box {
    right: 20px;
    transform: rotate(90deg);
  }

  .next_prev_box {
    left: 20px;
    transform: rotate(90deg);
  }
}
