/* Nabar box */

.home_page {
  display: flex;
  flex-direction: column;
}

.contener .shop_box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contener .shop_box div {
  display: flex;
  flex-direction: row;
}
.shop_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;

  color: #041e42;
}

.shop_box a {
  margin-top: 30px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;
}

.contener .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

/* header frame */

.home_page .header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.home_page .header_frame .contener {
  flex-direction: row;
}

.home_page .contener .header_left {
  position: relative;
  width: 875px;
  height: 508px;

  background: #0053f6;
  background-image: url("/public/images/icons/header_bg.svg");
}

.home_page .header_left .header_content {
  margin-left: 20px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.home_page .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.home_page .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #041e42;

  color: #ffffff;
}

.home_page .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.home_page .header_content a {
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;

  text-decoration: none;
}

.home_page .header_content img {
  position: absolute;
  right: 10px;
}

.home_page .contener .header_right {
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_page .header_right .header_box {
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}

.home_page .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_page .box_left span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}

.home_page .box_left p {
  margin: 10px 0;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}

.home_page .box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.home_page .header_box .box_right {
  width: 50%;
}

.home_page .box_right img {
  width: 100%;
  height: 100%;
}

.home_page .hover_box {
  margin-top: 3px;
  width: 100px;
  height: 2px;

  background: #041e42;
}

/* pagination */
.contener .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contener .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.contener .pagination_main .pagination_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.contener .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contener .pagination_dot .dot div {
  width: 4px;
  height: 4px;

  background: #112137;
}

.contener .pagination_dot .dot.active {
  border: 2px solid #112137;
}

.contener .next_prev_box {
  z-index: 9;
  width: 25px;
}

.contener .next_prev_box img {
  z-index: 9;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.contener .produsk_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.contener .produsk_box .produsk_imegi_box {
  width: 100%;
  height: 280px;
}

.contener .produsk_imegi_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.contener .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.contener .produsk_imegi_box:hover .hover_box {
  display: flex;
  background: none;
}
.contener .produsk_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.contener .produsk_content_box .produst_title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #626974;
}

.contener .produsk_content_box .produst_desc {
  height: 56px;
  margin-top: 7px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;

  color: #041e42;
}

.contener .produsk_content_box .riview_box {
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.contener .riview_box img {
  margin-right: 5px;
}

.contener .riview_box span {
  margin-left: 10px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #626974;
}

.produsk_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contener .price_box strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: #041e42;
}

.contener .price_box span {
  margin-left: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: line-through;

  color: #626974;
}

/* Navbar seans */

.main_box {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_box .my_box {
  margin-top: 30px;
  width: 1320px;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d6d6d6;
}

.my_box .banner_1 {
  padding-right: 115px;
  position: relative;
  width: 263px;
  height: 77px;

  display: flex;
  flex-direction: row;
}

.banner_1 .box_my {
  margin-top: 0px;
  margin-left: 0px;
  width: 33px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_my img {
  width: 100%;
  height: 100%;
}

.pisturi_box1 {
  margin-bottom: 8px;
  margin-left: 20px;
  width: 216px;
  height: 77px;

  display: flex;
  flex-direction: column;
}

.pisturi_box1 span {
  width: 156px;
  height: 25px;

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.pisturi_box1 p {
  width: 215.91px;
  height: 44px;

  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* Page contener */

.peg_contener {
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.peg_contener .contener {
  flex-direction: column;
}

.contener .shop_box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_box span {
  margin-left: 20px;
  width: 690px;
  height: 40px;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.shop_box a {
  width: 131px;
  height: 22px;

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.shop_box a:hover {
  border-bottom: 2px solid #041e42;
}

.contener .category_wrapper {
  margin-top: 30px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category_box .categoryimg_box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}

.category_box span {
  margin-top: 15px;

  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* Best List */

.selling_produsk_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_produsk_frame .contener {
  flex-direction: column;
}

.contener .produsk_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.contener .produsk_wrapper .produsk_boxes {
  margin-bottom: 70px;
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.produsk_pagenation_box {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  width: 25px;
}

/* Info Box */
.selling_produsk_frame .info_bar {
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info_bar .info_box {
  width: 1919px;
  height: 120px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(229, 237, 255, 1);
}

.info_box b {
  width: 1113.6px;
  height: 26px;

  color: rgba(0, 83, 246, 1);

  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
}

/* Head phones box */

.home_page .space_produck_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space_produck_frame .contener {
  flex-direction: column;
}

.contener .spec_produsk_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_produsk_wrapper .big_produsk_box {
  padding: 30px;
  position: relative;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.big_produsk_box .small_box {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.small_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small_box span {
  top: 7px;

  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.small_box a {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.big_produsk_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec_produsk_wrapper .small_produsk_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small_produsk_wrapper .small_produsk_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  background: #f3f5f6;
  border-radius: 6px;
}

.small_produsk_box .small_produsk_content {
  display: flex;
  flex-direction: column;
}

.small_produsk_content strong {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.small_produsk_content span {
  margin-top: 7px;
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small_produsk_box img {
  position: absolute;
  right: 10%;
  bottom: 30px;
}

/* Tv frame */
.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_frame .contener {
  flex-direction: column;
}
.contener .next_prev_box {
  width: 25px;
}

.contener .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.contener .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_wrapper .tv_product_boxes {
  width: 1300px;
  height: 452px;
  display: flex;
  flex-direction: row;
}

.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv_product_box .produsk_img {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_page .evend_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("../images/icons/event_bg.png");
}

.evend_frame .contener {
  flex-direction: row;
  justify-content: center;
}

.contener .evend_contend_box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.evend_contend_box .evend_title {
  margin-right: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.evend_contend_box .timer_wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.timer_wrapper .timer_box {
  width: 60px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.timer_box strong {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;

  color: #ffffff;
}

.timer_box span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;

  color: #ffffff;
}

.evend_contend_box a {
  width: 140px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;

  border-radius: 6px;
  text-transform: capitalize;
}

.contener .evend_produsk_wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.evend_produsk_wrapper .evend_product_boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.evend_product_boxes .evend_product_box {
  margin-right: 8px;
  width: 205px;
  height: 450px;

  display: flex;
  flex-direction: column;

  border-radius: 6px;
  background: #ffffff;
}

.evend_product_box .evend_img {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
