.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  justify-content: center;
  background: #443297;
}

.contener {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_top > a img {
  margin-right: 76px;
  width: 115px;
  height: 36px;
}

.navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  background: #fff;
}

.navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box .catigory_list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.catigory_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
}
.search_box input {
  width: 387px;
  height: 22px;
  margin-left: 12px;

  border: none;
  outline: none;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_top_menu .top_menu_box {
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon_box {
  margin-right: 20px;
  position: relative;
  width: 40px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_icon_box img {
  width: 22px;
  height: 22px;
}
.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.box_info_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.box_info_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.box_icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -3px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background-color: #f5c34b;

  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
}

.navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}

.navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 600px;
  display: flex;
  flex-direction: row;
}

.navbar_route_menu .roter_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  text-decoration: none;

  display: flex;
}

.roter_menyu a {
  margin-right: 20px;
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.roter_menyu a.active {
  color: #f5c34b;
}

.navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
  top: 20px;
}

.sorting_menu {
  padding-bottom: 0px;
}

.sorting_menu span {
  margin-right: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

/* Nabar box */

.home_page {
  display: flex;
  flex-direction: column;
}

.home_page .header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.home_page .header_frame .contener {
  flex-direction: row;
}

.home_page .contener .header_left {
  position: relative;
  width: 875px;
  height: 508px;

  background: #0053f6;
  background-image: url("/public/images/icons/header_bg.svg");
}

.home_page .header_left .header_content {
  margin-left: 20px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.home_page .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.home_page .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #041e42;

  color: #ffffff;
}

.home_page .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.home_page .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;

  text-decoration: none;
}

.home_page .header_content img {
  position: absolute;
  right: 10px;
}

.home_page .contener .header_right {
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_page .header_right .header_box {
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}

.home_page .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_page .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}

.home_page .box_left p {
  margin: 10px 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}

.home_page .box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.home_page .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

.home_page .header_box .box_right {
  width: 50%;
}

.home_page .box_right img {
  width: 100%;
  height: 100%;
}

.home_page .hover_box {
  margin-top: 3px;
  width: 100px;
  height: 2px;

  background: #041e42;
}
/* Navbar seans */

.main_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_box .my_box {
  margin-top: 30px;
  width: 1320px;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d6d6d6;
}

.my_box .banner_1 {
  padding-right: 115px;
  position: relative;
  width: 263px;
  height: 77px;

  display: flex;
  flex-direction: row;
}

.banner_1 .box_my {
  margin-top: 0px;
  margin-left: 0px;
  width: 33px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box_my img {
  width: 100%;
  height: 100%;
}

.pisturi_box1 {
  margin-bottom: 8px;
  margin-left: 20px;
  width: 216px;
  height: 77px;

  display: flex;
  flex-direction: column;
}

.pisturi_box1 span {
  width: 156px;
  height: 25px;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.pisturi_box1 p {
  width: 215.91px;
  height: 44px;

  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
